*{
  margin: 0;
  padding: 0;
}

.body{
  background-image: url("./../../Backiee/backiee-119980.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font: ‘Roboto’, Arial, Helvetica, sans-serif;
}

.body:focus:not(:focus-visible){
  outline: none;
}

.header{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 253, 253, 0.274);
  backdrop-filter: blur(7px);
}

.nav{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.ul{
  height: 70%;
  width: 200px;
  text-align: center;
  font-size: 1.4rem;
  margin-left: 10px;
  font-style: italic;
}

.ulBtn{
  height: 70%;
  width: 150px;
  text-align: center;
  font-size: 1.4rem;
  margin-right: 10px;
  margin-bottom: 3px;
}

.ulBtn:hover{
  scale: 1.05;
}

.a{
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 2px;
}

.main{
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  background-color: rgba(253, 253, 253, 0.274);
  backdrop-filter: blur(7px);
  margin-top: 10px;
}

.section{
  width: 90%;
  height: 90%;
  text-align: center;
}

.article{
  height: 33.3333%;
  margin-left: 5px;
  margin-right: 5px;
}

.p{
  font-size: 1.6rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

@media(max-width: 506px){
  .nav{
    width: 100%;
  }

  .ul{
    margin-left: 0;
  }

  .ulBtn{
    margin-right: 5px;
  }

  .p{
    font-size: 18px;
  }
}

