.body {
  background: url("/Backiee/backiee-179984.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font: ‘Roboto’, Arial, Helvetica, sans-serif;
}

.main {
  border-radius: 20px;
  width: 450px;
  border-radius: 20px;
  height: 500px;
  text-align: center;
  color: #fff;
}

.h2 {
  color: white;
  margin-top: 60px;
  font-size: 1.8rem;
  font-weight: 100;
  font-style: italic;
  text-shadow: 0 0 5px #e3e4e5, 0 0 10px #e3e4e5, 0 0 20px #e3e4e5;
}

.formIn {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

.form {
  height: 100%;
  width: 100%;
  background-color: rgba(159, 157, 157, 0.4);
  backdrop-filter: blur(7px);
  border-radius: 20px;
  box-shadow: inset 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}

.tituloBox {
  margin-top: 40px;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloLabel {
  position: absolute;
  margin-right: 200px;
  font-size: 1.4rem;
}

.tituloInput {
  position: absolute;
  margin-left: 110px;
  border-radius: 14px;
  background: transparent;
  height: 25px;
  width: 200px;
  padding-left: 10px;
  font-size: 1.2rem;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  transition: border 3px ease-in-out;
}

.tituloInput:focus {
  box-shadow: inset 0 0 5px #fff, 0 0 10px #fff;
}

.autorBox {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autorLabel {
  font-size: 18px;
  position: absolute;
  margin-right: 200px;
  font-size: 1.4rem;
}

.autorInput {
  position: absolute;
  margin-left: 110px;
  border-radius: 14px;
  background: transparent;
  height: 25px;
  width: 200px;
  padding-left: 10px;
  font-size: 1.2rem;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  transition: border 3px ease-in-out;
}

.autorInput:focus {
  box-shadow: inset 0 0 5px #fff, 0 0 10px #fff;
}

.edicionBox {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edicionLabel {
  font-size: 1.4rem;
  position: absolute;
  margin-right: 200px;
}

.edicionInput {
  position: absolute;
  margin-left: 110px;
  border-radius: 14px;
  background: transparent;
  height: 25px;
  width: 200px;
  padding-left: 10px;
  font-size: 1.2rem;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  transition: border 3px ease-in-out;
}

.edicionInput:focus {
  box-shadow: inset 0 0 5px #fff, 0 0 10px #fff;
}

.categoriaBox {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoriaLabel {
  margin-right: 20px;
  font-size: 1.4rem;
  position: absolute;
  margin-right: 200px;
}

.select {
  position: absolute;
  margin-left: 110px;
  border-radius: 14px;
  background: rgba(41, 0, 128, 0.6);
  text-align: center;
  height: 28px;
  width: 200px;
  font-size: 1.1rem;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: border 3px ease-in-out;
}

.select:focus {
  box-shadow: inset 0 0 5px #fff, 0 0 10px #fff;
}

.boxBtnAgregar {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  gap: 10px;
}

.btnAgregar {
  width: 150px;
  border-radius: 27px;
  background-color: transparent;
  height: 30px;
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
  border-color: #fff;
}

.btnAgregar:hover {
  scale: 1.04;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;

}

.addLink {
  color: white;
  text-decoration: none;
}
