.body{
  background: url(/Backiee/backiee-119980.jpg);
  background-position: center;
  background-size: cover  ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font: ‘Roboto’, Arial, Helvetica, sans-serif;
}

.main{
  border-radius: 20px ;
  width: 450px;
  border-radius: 20px;
  height: 500px;
  text-align: center;
}

.h2{
  color: white;
  margin-top: 60px;
  font-size: 1.8rem;
  font-weight: 100;
  font-style: italic;
}

.formIn{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

.form{
  height: 100%;
  width: 100% ;
  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(7px);
  border-radius: 20px;
}

.tituloBox{
  margin-top: 40px;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloLabel{
  position: absolute;
  margin-right: 200px;
  font-size: 1.4rem;
}

.tituloInput{
  position: absolute;
  margin-left: 110px;
  border-radius: 14px;
  background: transparent;
  height: 25px;
  width: 200px;
  padding-left: 10px;
  font-size: 14px;
}

.autorBox{
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autorLabel{
  font-size: 18px;
  position: absolute;
  margin-right: 200px;
  font-size: 1.4rem;
}

.autorInput{
  position: absolute;
  margin-left: 110px;
  border-radius: 14px;
  background: transparent;
  height: 25px;
  width: 200px;
  padding-left: 10px;
  font-size: 14px;
}

.edicionBox{
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edicionLabel{
  font-size: 1.4rem;
  position: absolute;
  margin-right: 200px;
}

.edicionInput{
  position: absolute;
  margin-left: 110px;
  border-radius: 14px;
  background: transparent;
  height: 25px;
  width: 200px;
  padding-left: 10px;
  font-size: 14px;
}

.categoriaBox{
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoriaLabel{
  margin-right: 20px;
  font-size: 1.4rem;
  position: absolute;
  margin-right: 200px;
}

.select{
  position: absolute;
  margin-left: 110px;
  border-radius: 14px;
  background: rgba(19, 18, 18, 0.6);
  text-align: center;
  height: 28px;
  width: 200px;
  font-size: 14px;
}

.boxBtnAgregar{
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  gap: 10px;
}

.btnAgregar{
  width: 150px;
  border-radius: 27px;
  background-color: transparent;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.btnAgregar:hover{
  scale: 1.04;
}

.addLink{
  color: white;
  text-decoration: none;
}
